aiogram==2.17.1
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.2.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.9
frozenlist==1.2.0
idna==3.3
iniconfig==1.1.1
multidict==5.2.0
packaging==21.3
pluggy==1.0.0
prettytable==2.5.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
pytest-asyncio==0.16.0
pytz==2021.3
toml==0.10.2
wcwidth==0.2.5
yarl==1.7.2
